body {
  font-family: Arial, sans-serif;
  background-color: #2b2b2b;
  color: #fff;
  margin: 0;
  padding: 0;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  display: inline-block;
  padding: 5px 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
nav a:hover {
  color: #ccc;
  text-shadow: 0 0 5px #4CAF50, 0 0 10px #4CAF50, 0 0 15px #4CAF50;
  background-color: #333;
}
header {
  background-color: #212121;
  color: #fff;
  padding: 20px;
  text-align: center;
}
header h1 {
  margin: 5px;
}
form {
  margin-top: 20px;
}
input[type="text"] {
  padding: 10px;
  width: 50%;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}
input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #3e8e41;
}
h2 {
  color: #4CAF50;
  font-size: 24px;
  margin-bottom: 10px;
}
article {
  background-color: #333;
  padding: 20px;
  margin: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
article:hover {
  transform: scale(1.01);
}
article h2 {
  margin-top: 0;
}
article p {
  font-size: 16px;
  line-height: 24px;
}
a {
  text-decoration: none;
  color: #4CAF50;
  transition: color 0.3s ease;
}
a:hover {
  color: #3e8e41;
}
.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.pagination a {
  margin: 0 10px;
}
.pagination-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pagination-button:hover {
  background-color: #3e8e41;
}
.ball-container {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  background-color: #333;
  border-radius: 10px;
}
.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4CAF50;
  animation: bounce 2s infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px #4CAF50, 0 0 40px #4CAF50, 0 0 60px #4CAF50, 0 0 80px #4CAF50;
}
.ball::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4CAF50;
  opacity: 0.5;
  top: 10px;
  left: 10px;
  z-index: -1;
  animation: trail 2s infinite;
}
@keyframes trail {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ball {
  animation: spin 2s infinite;
}