body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #337ab7;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}
form {
    margin-top: 20px;
}
input[type="text"] {
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #23527c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #337ab7;
}
h2 {
    color: #337ab7;
    font-size: 24px;
    margin-bottom: 10px;
}
article {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article h2 {
    margin-top: 0;
}
article p {
    font-size: 16px;
    line-height: 24px;
}
a {
    text-decoration: none;
    color: #337ab7;
}
a:hover {
    color: #23527c;
}
.pagination {
    margin-top: 20px;
    text-align: center;
}
.pagination a {
    margin: 0 10px;
}

.pagination-button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pagination-button:hover {
    background-color: #23527c;
}