<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacking Pizza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Farmers for Vimy and Eggs</h1>
        <nav>
          <a href="https://www.glitchlabs.ca/">GlitchLabs</a>
          <a href="https://www.savannagrace.dev/">SavannaGrace.dev</a>
        </nav>
        <div class="ball-container">
          <div class="ball"></div>
        </div>
        <form action="{{ url_for('search') }}" method="GET">
            <input type="text" name="q" placeholder="Search for Keyword">
            <input type="submit" value="Search">
        </form>
    </header>
    {% block content %}{% endblock %}
</body>
</html>